@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Transition for Dark Mode */
html,
body {
	transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
	background: #555;
	border-radius: 4px;
}